.nav{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    background-color:rgb(153, 122, 86);
}

.childdiv{
     padding-left: 5px;
      font-family:cursive;
    font-size: 30px;
}


 .childbody{
    display:flex;
    flex-direction: column;
    padding:90px;
    justify-content: space-around;
    background-color: beige;
 }

.gym{
    width:25vw;
    height:30vh;
}

.font{
     font-family:cursive;
     font-size: 30px;
     font-weight:bold;
}
     

 .childfont {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    font-family:cursive;
}



.body {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 100px;
    background-color: Beige;
}

.footer{
    width:100%;
    box-sizing:border-box;
    background-color: rgb(153, 122, 86);

}

.footer h3{
    font-size:30px;
    margin-bottom: 15px;
    display:flex;
    justify-content: center;
    font-family:cursive;
}
    


.news{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

    

.news input{
    width:600px;
    height:45px;
    padding-left:15px;
    font-size:50px;
    font-family:cursive;
}
    

.news button{
    font-size:30px;
    font-family:cursive;
}
